In [3]:
# from google.colab import drive
# drive.mount('/content/drive')
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://mirrors.estointernet.in/apache/spark/spark-3.1.1/spark-3.1.1-bin-hadoop2.7.tgz
!tar xf spark-3.1.1-bin-hadoop2.7.tgz
!pip install -q findspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop2.7"

import findspark
import gzip
import requests
import io
import pandas as pd
findspark.init()
print(findspark.find())


inputFilePath = "https://snap.stanford.edu/data/bigdata/amazon/amazon-meta.txt.gz"
response = requests.get(inputFilePath, stream=True)
metaDataFile = response.content
conversion = io.BytesIO(metaDataFile)
file = gzip.open(conversion,'rt')

/content/spark-3.1.1-bin-hadoop2.7

In [4]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
import networkx
!pip install snap-stanford networkx stemming
from stemming.porter2 import stem

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
Collecting snap-stanford
  Downloading https://files.pythonhosted.org/packages/9b/11/76c0bbe6dbd5004ea6ae2fcd748d5d6a17f65c506b894f2de13d36918d13/snap_stanford-6.0.0-cp37-cp37m-manylinux1_x86_64.whl (11.6MB)
     |████████████████████████████████| 11.6MB 5.1MB/s
Requirement already satisfied: networkx in /usr/local/lib/python3.7/dist-packages (2.5.1)
Collecting stemming
  Downloading https://files.pythonhosted.org/packages/d1/eb/fd53fb51b83a4e3b8e98cfec2fa9e4b99401fce5177ec346e4a5c61df71e/stemming-1.0.1.tar.gz
Requirement already satisfied: decorator<5,>=4.3 in /usr/local/lib/python3.7/dist-packages (from networkx) (4.4.2)
Building wheels for collected packages: stemming
  Building wheel for stemming (setup.py) ... done
  Created wheel for stemming: filename=stemming-1.0.1-cp37-none-any.whl size=11139 sha256=e49405ed923c003758c3cb1f52f7a9d0bf0354488c115b3183f658382e28a878
  Stored in directory: /root/.cache/pip/wheels/e8/05/2e/2ddeb64d4464b854b48323f9676528c17560da7d153db7b0e2
Successfully built stemming
Installing collected packages: snap-stanford, stemming
Successfully installed snap-stanford-6.0.0 stemming-1.0.1

In [5]:
import string
import re
amazonProducts = []
(Id, ASIN, Title, Categories, Group, Copurchased, SalesRank, TotalReviews, AvgRating) = ("", "", "", "", "", "", "", "", "")
#reading lines from the file and creating a products dictionary obj with asin as key and metadata as its value
def geNormalizedText(categories):
    categories = re.compile('[%s]' % re.escape(string.digits+string.punctuation)).sub(' ', categories)
    categories = ' '.join(set(categories.split())-set(stopwords.words("english")))
    categories = ' '.join(stem(word) for word in categories.split())
    return categories


for line in file:
    MetaData = {}
    line = line.strip()
    if line.startswith("Id",0):
        Id = line[3:].strip()
    elif line.startswith("ASIN",0):
        ASIN = line[5:].strip()
    elif line.startswith("title",0):
        Title = line[7:].strip()
    elif line.startswith("group",0):
        Group = line[6:].strip()
    elif line.startswith("salesrank",0):
        SalesRank = line[10:].strip()
    elif line.startswith("reviews"):
        ls = line.split()
        TotalReviews = ls[2].strip()
        AvgRating = ls[7].strip()
    elif(line.startswith("categories")):
        ls = line.split()
        Categories = ' '.join((file.readline()).lower() for i in range(int(ls[1].strip())))
        Categories = geNormalizedText(Categories)
    elif line.startswith("similar",0):
        ls = line.split()
        Copurchased = ' '.join([similar for similar in ls[2:]])        
    elif len(line) == 0:
      try:
        MetaData = {}
        if ASIN != "":
          MetaData['Id'] = Id
          MetaData['ASIN'] = ASIN
          MetaData['Title'] = Title
          MetaData['Group'] = Group
          MetaData['SalesRank'] = SalesRank
          MetaData['Categories'] = Categories
          MetaData['Similar'] = Copurchased
          MetaData['Reviews'] = int(TotalReviews)
          MetaData['Ratings'] = float(AvgRating)
        amazonProducts.append(MetaData)
      except :
        continue
file.close()

In [6]:
print(len(amazonProducts))
print(type(amazonProducts))

548552
<class 'list'>

In [6]:
import pandas as pd
df = pd.DataFrame(amazonProducts)
df.dropna(inplace=True)
df
#df.Id.count() #548551

            Id        ASIN  ... Reviews Ratings
1            1  0827229534  ...     2.0     5.0
2            2  0738700797  ...    12.0     4.5
3            3  0486287785  ...     1.0     5.0
4            4  0842328327  ...     1.0     4.0
5            5  1577943082  ...     0.0     0.0
...        ...         ...  ...     ...     ...
548547  548547  B000059TOC  ...     1.0     5.0
548548  548548  B00006JBIX  ...     8.0     3.0
548549  548549  0879736836  ...     1.0     4.0
548550  548550  B00008DDST  ...     3.0     5.0
548551  548551  B00005MHUG  ...     1.0     5.0

[548551 rows x 9 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 548551 entries, 1 to 548551
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Id          548551 non-null  object
 1   ASIN        548551 non-null  object
 2   Title       548551 non-null  object
 3   Group       548551 non-null  object
 4   SalesRank   548551 non-null  object
 5   Categories  548551 non-null  object
 6   Similar     548551 non-null  object
 7   Reviews     548551 non-null  float64
 8   Ratings     548551 non-null  float64
dtypes: float64(2), object(7)
memory usage: 41.9+ MB

In [10]:
print(df.Group.unique())
#Saving the metadatafile in different formats
#https://neptune.ai/blog/google-colab-dealing-with-files
df.to_json("amazonmetadata.json")
df.to_csv("amazonmetadata.csv", index=False)

#Saving/downloading the files
#from google.colab import files
#files.download("amazonmetadata.csv")

['Book' 'Music' 'DVD' 'Video' 'Toy' 'Video Games' 'Software'
 'Baby Product' 'CE' 'Sports']

Pyspark Execution

In [8]:
import pyspark
from pyspark.rdd import RDD
from pyspark.sql import Row
from pyspark.sql import DataFrame
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql import functions
from pyspark.sql.functions import lit, desc, col, size, array_contains, isnan, udf, hour, array_min, array_max, countDistinct
from pyspark.sql.types import *

In [10]:
MAX_MEMORY = '5G'
# Initialize a spark session.
conf = pyspark.SparkConf().setMaster("local[*]") \
        .set('spark.executor.heartbeatInterval', 10000) \
        .set('spark.network.timeout', 10000) \
        .set("spark.core.connection.ack.wait.timeout", "3600") \
        .set("spark.executor.memory", MAX_MEMORY) \
        .set("spark.driver.memory", MAX_MEMORY)

def init_spark():
    spark = SparkSession \
        .builder \
        .appName("Amazon Meta Explore") \
        .config(conf=conf) \
        .getOrCreate()
    return spark

spark = init_spark()

In [11]:
#Querying to the datasource:
#converting metadata list to rdd

_schema = StructType([
    StructField('Id', StringType(), True),
    StructField('ASIN', StringType(), True),
    StructField('Title', StringType(), True),
    StructField('Group', StringType(), True),
    StructField('SalesRank', StringType(), True),
    StructField('Categories', StringType(), True),
    StructField('Similar', StringType(), True),
    StructField('Reviews', IntegerType(), True),
    StructField('Ratings', FloatType(), True)
])

#rdd = spark.sparkContext.parallelize(amazonProducts)
#Creating spark dataframe, with schema details
df_spark = spark.createDataFrame(amazonProducts, schema=_schema)
print(df_spark.schema)
df_spark.take(5)

StructType(List(StructField(Id,StringType,true),StructField(ASIN,StringType,true),StructField(Title,StringType,true),StructField(Group,StringType,true),StructField(SalesRank,StringType,true),StructField(Categories,StringType,true),StructField(Similar,StringType,true),StructField(Reviews,IntegerType,true),StructField(Ratings,FloatType,true)))

In [13]:
df_1 = df_spark.filter((df_spark.ASIN !='None') & (functions.length(df_spark.Similar) > 0))
#df_spark.filter(functions.col("Similar").isNotNull())
#df_spark.filter(df_spark.Similar.isNotNull())
#df_spark.filter(df_spark["Similar"].isNotNull())
#df_spark.na.drop(subset=["Similar"].isNotNull())
#df_spark.dropna(subset=["Similar"]).isNotNull())
df_1.show()

+---+----------+--------------------+-----+---------+--------------------+--------------------+-------+-------+
| Id|      ASIN|               Title|Group|SalesRank|          Categories|             Similar|Reviews|Ratings|
+---+----------+--------------------+-----+---------+--------------------+--------------------+-------+-------+
|  1|0827229534|Patterns of Preac...| Book|   396585|spiritu book cler...|0804215715 156101...|      2|    5.0|
|  2|0738700797|Candlemas: Feast ...| Book|   168596|spiritu book eart...|0738700827 156718...|     12|    4.5|
|  4|0842328327|Life Application ...| Book|   631289|commentari christ...|0842328130 083081...|      1|    4.0|
|  5|1577943082|Prayers That Avai...| Book|   455160|spiritu christian...|157794349X 089274...|      0|    0.0|
|  6|0486220125|How the Other Hal...| Book|   188784|sociolog photo ca...|0486401960 045228...|     17|    4.0|
|  7|B00000AU3R|               Batik|Music|     5392|general music mod...|B00002616C B00002...|      3|    4.5|
|  8|0231118597| Losing Matt Shepard| Book|   277409|general lesbian b...|B000067D0Y 037572...|     15|    4.5|
| 10|0375709363|The Edward Said R...| Book|   220379|general book soci...|039474067X 067973...|      6|    4.0|
| 11|0871318237|Resetting the Clo...| Book|   412962|general mind alte...|1591200695 006098...|      1|    5.0|
| 12|1590770218|Fantastic Food wi...| Book|    24741|mind carbohydr co...|0871319640 039953...|     12|    4.5|
| 15|1559362022|Wake Up and Smell...| Book|   518927|art author theate...|1559360968 155936...|      8|    4.0|
| 16|0195110382|War at Sea: A Nav...| Book|   631564|naval general war...|1585741485 014024...|     10|    4.5|
| 17|0849311012|Telecommunication...| Book|   570183|industri econom s...|0071410546 158053...|      3|    3.5|
| 18|B000007R0T|         Sol to Soul|Music|   109301|general music sty...|B000059QC1 B00000...|     15|    5.0|
| 19|078510870X|Ultimate Marvel T...| Book|   612475|comic book childr...|0785114572 078511...|      8|    3.5|
| 20|3895780812|Computed Tomograp...| Book|   179448|general book medi...|0865778973 007134...|      1|    5.0|
| 21|0790747324|    The Time Machine|  DVD|      795|warner special ge...|B00007JMD8 630535...|    140|    4.5|
| 22|B00005NTSV|       Come What May|Music|    83369|general music voc...|B00000JCDS B00000...|      4|    4.5|
| 25|0939165252|Jailed for Freedo...| Book|   326756|book govern elect...|059500055X B00026...|      2|    3.5|
| 26|1590930509|      Chicken Little| Book|   242571|general stori fol...|0439078172 089919...|      1|    4.0|
+---+----------+--------------------+-----+---------+--------------------+--------------------+-------+-------+
only showing top 20 rows

In [ ]:
#reading the graph data
data = requests.get("https://snap.stanford.edu/data/amazon0601.txt.gz",stream=True)
fr = io.BytesIO(data.content)
fr_1 = gzip.open(fr, 'rt')
tbl = pd.read_table(fr_1, delimiter=None, sep='\t', skiprows=3)
print(tbl.head(5))
tbl.info()

   # FromNodeId  ToNodeId
0             0         1
1             0         2
2             0         3
3             0         4
4             0         5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387388 entries, 0 to 3387387
Data columns (total 2 columns):
 #   Column        Dtype
---  ------        -----
 0   # FromNodeId  int64
 1   ToNodeId      int64
dtypes: int64(2)
memory usage: 51.7 MB

In [ ]:
#Building TUNGraph - Undirected
import snap
graph = snap.TUNGraph.New()
#getting the unique nodes, using set
#Two Columns - # FromNodeId & ToNodeId
nodes = set(tbl['# FromNodeId'].tolist()+tbl['ToNodeId'].tolist())
for n in nodes:
  graph.AddNode(n)
#using iteration to load edges - pair of nodes
#in method 'PUNGraph_AddEdge', argument 2 of type 'int'
for i,data in tbl.iterrows():
  graph.AddEdge(int(data['# FromNodeId']),int(data['ToNodeId']))

In [ ]:
snap.PrintInfo(graph, "amazon node info", "amazon_node_info.txt", False)
#downloading the file from colab
from google.colab import files
files.download("amazon_node_info.txt")

Graph Info:

amazon node info:\
  Nodes:                    403394 \
  Edges:                    2443408 \
  Zero Deg Nodes:           0 \
  Zero InDeg Nodes:         0 \
  Zero OutDeg Nodes:        0\
  NonZero In-Out Deg Nodes: 403394\
  Unique directed edges:    4886816\
  Unique undirected edges:  2443408\
  Self Edges:               0\
  BiDir Edges:              4886816\
  Closed triangles:         3986507\
  Open triangles:           60250166\
  Frac. of closed triads:   0.062060\
  Connected component size: 0.999926\
  Strong conn. comp. size:  0.999926\
  Approx. full diameter:    20\
  90% effective diameter:  7.589876\